<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.indrif.vms">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:name=".MyApp"
            android:allowBackup="false"
            android:icon="@mipmap/app_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/app_icon_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".ui.activities.UserProfileTestActivity">
        </activity>
        <activity android:name=".ui.activities.IdProofSelectActivity">
        </activity>
        <activity android:name=".ui.activities.CheckOutByIdActivity">
        </activity>
        <activity android:name=".ui.activities.CheckOutSelectionActivity">
        </activity>
        <activity
                android:name=".ui.custom_camera.CameraActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activities.UnderDevelopment">
        </activity>
        <activity android:name=".ui.activities.SelectPurposeActivity"
                  android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".ui.activities.UserProfileActivity"
                android:theme="@style/AppThemeActivity"
                android:windowSoftInputMode="stateHidden|adjustResize"
        >
        </activity>
        <activity android:name=".ui.activities.CheckInOutDetailActivity">
        </activity>
        <activity android:name=".ui.activities.CheckInActivity">
        </activity>
        <activity
                android:name=".ui.activities.ChangePasswordActivity"
                android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>
        <activity
                android:name=".ui.activities.GalleryActivity"
                android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>
        <activity
                android:name=".ui.activities.GalleryCropActivity"
                android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>
        <activity
                android:name=".ui.activities.GalleryFullScreenActivity"
                android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>
        <activity
                android:name=".ui.activities.HistoryActivity"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".ui.activities.CheckOutActivity">
        </activity>
        <activity android:name=".ui.activities.IdProofSelectionActivity">
        </activity>
        <activity android:name=".ui.activities.DashBoardActivity">
        </activity>
        <activity android:name=".ui.activities.SiteSelectionActivity">
        </activity>
        <activity
                android:name=".ui.activities.UserDetailActivity"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".ui.activities.MainActivity">
        </activity>
        <activity
                android:name=".ui.activities.SplashActivity"
                android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activities.LoginActivity"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".ui.activities.ForgotPaaswordActivity"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                android:theme="@style/Base.Theme.AppCompat"/>
    </application>

</manifest>